.searchBox{
    text-align: center;
    margin-bottom: 25px;
}
/* .searchBox {
  margin: 20px auto;
} */

.searchBox input {
  width: 260px;
  padding: 12px 14px;
  font-size: 16px;
  color: #000;
  /* background-color:rgba(25, 118, 210, 0.8) ; */
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.searchBox input::placeholder {
  color:rgb(26, 71, 89);
}

.searchBox input:focus {
  outline: none;
  border-color: #1976d2;
  box-shadow: 0 0 6px rgba(25, 118, 210, 0.3);
}
